@import url(https://fonts.googleapis.com/css?family=Dosis);
@import url(https://fonts.googleapis.com/css?family=Comfortaa);
h1{
    font-family: 'Dosis';
}

h3{
    font-size: 30px;
    font-family: 'Dosis';
}

section{
    padding: 10PX;
    width: auto;
}

.two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: auto;
    margin: auto;
    font-family:'Comfortaa';
}

img{
    width: 100%;
    border-radius: 20px;
    display: block;
    border: 1px soild black;
}

.class-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    height: 480px;
    font-family:'Comfortaa';
}

#index-top{
    /* Center Text */
    display: grid;
    place-content: center;
    font-size: 4em;
    /* Add background image */
    background-image: 
    linear-gradient(180deg, rgba(255, 255, 255, 0.664),
    rgba(255, 126, 116, 0.26)),
    url("./Te Puia Resources/Images/mudpool.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    margin: 0%;
}

.collem_two{
    background-color: #dcdcdc;
    height: 200px;
    text-align: center;
    font-family:'Comfortaa';
}

div{
    text-align: center;
}

div.about p{
    text-align: left;
    margin-left: 20px;
}

div.history p{
    text-align: right;
    margin-right: 20px;
}

#index-history{
    background-color: #ffe6e6;
}

#index-about{
    background-color: #dcdcdc
}

a{
    color: #0c4187;
    font-family:'Comfortaa';
}

#history-top{
    /* Center Text */
    display: grid;
    place-content: center;
    font-size: 4em;
    /* Add background image */
    background-image: 
    linear-gradient(180deg, rgba(255, 255, 255, 0.5),
    rgba(255, 126, 116, 0.26)),
    url("./Te Puia Resources/Images/mudpool.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin: 0%;
}

#history-text{
    display: grid;
    grid-template-columns: 3fr 5fr;
    gap: 20px;
    width: auto;
    margin: auto;
    background-image:  
    linear-gradient(180deg, #ffe6e6ff,
    #ffe6e6a0),
    url("./Te Puia Resources/Images/giser.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    height: 450px;
    font-family:'Comfortaa';
}

#w-class-text{
    display: grid;
    grid-template-columns: 3fr 5fr;
    gap: 20px;
    width: auto;
    margin: auto;
    background-image:  
    linear-gradient(180deg, #dcdcdcff,
    #ffe6e670),
    url("./Te Puia Resources/Images/w-class.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    height: 450px;
    font-family:'Comfortaa';
}

#we-class-text{
    display: grid;
    grid-template-columns: 3fr 5fr;
    gap: 20px;
    width: auto;
    margin: auto;
    background-image:  
    linear-gradient(180deg, #ffe6e6ff,
    #ffe6e6a0),
    url("./Te Puia Resources/Images/barstets.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    height: 450px;
    font-family:'Comfortaa';
}

nav{
    height: 29px;
    text-align: left;
    background-image:  
    linear-gradient(90deg, #dcdcdc,
    #FFE6e6);
    font-size: 25px;
    color: black;
    padding-right: 2.5px;
    padding-left: 2.5px;
    padding-top: 2px;
    margin-left: 2px;
    font-family:'Comfortaa';
}

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    width: 1px;
}

a.nav{
    border-left: 1px groove black;
    border-right: 1px groove black;
    margin:0;
    text-decoration: none;
    padding: 1px;
    padding-left: 3px;
    padding-right: 3px;
}

a:hover.nav{
    border: 2px inset black;
    margin:0;
    text-decoration: none;
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #ffe6e6;
    color: black;
}

.img{
    padding: 3px;
    background-color:  black;
    border-radius: 24px;
}

#class-top{
    /* Center Text */
    display: grid;
    place-content: center;
    font-size: 2em;
    /* Add background image */
    background-image: 
    linear-gradient(180deg, rgba(255, 255, 255, 0.5),
    rgba(255, 126, 116, 0.26)),
    url("./Te Puia Resources/Images/mudpool.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin: 0%;
}