New! Keyboard shortcuts … Drive keyboard shortcuts have been updated to give you first-letters navigation
@import url(https://fonts.googleapis.com/css?family=Dosis);
@import url(https://fonts.googleapis.com/css?family=Comfortaa);

/* fonts */
h1{
    font-family: 'Dosis';
}

h3{
    font-size: 30px;
    font-family: 'Dosis';
}

/* Nav Bar */
nav{
    height: 29px;
    text-align: left;
    font-size: 25px;
    color: black;
    padding-right: 2.5px;
    padding-left: 2.5px;
    padding-top: 2px;
    margin-left: 2px;
    font-family:'Comfortaa';
    background-image:  
    linear-gradient(90deg, #dcdcdc,
    #DADCD7);
}

a.nav{
    border-left: 1px groove black;
    border-right: 1px groove black;
    margin:0;
    text-decoration: none;
    padding: 1px;
    padding-left: 3px;
    padding-right: 3px;
}

a:hover.nav{
    border: 2px inset black;
    margin:0;
    text-decoration: none;
    padding: 0px;
    padding-left: 2px;
    padding-right: 2px;
    background-color: #dcdcdc;
    color: black;
}

/* All Pages */
body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #F2EFE2;
}

body::-webkit-scrollbar{
    width: 1px;
}

section{
    padding: 10PX;
    width: auto;
}

img{
    width: 100%;
    border-radius: 20px;
    display: block;
    border: 1px soild black;
}

.img{
    padding: 3px;
    background-color:  rgba(58, 58, 58, 0.493);
    border-radius: 24px;
}

.two-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: auto;
    margin: auto;
    font-family:'Comfortaa';
}

div{
    text-align: center;
}

div.text-left p{
    text-align: left;
    margin-left: 20px;
}

div.text-right p{
    text-align: right;
    margin-right: 20px;
}

a{
    color: #0c4187;
    font-family:'Comfortaa';
}

/* Home Page */
#index-top{
    /* Center Text */
    display: grid;
    place-content: center;
    font-size: 4em;
    /* Add background image */
    background-image: 
    linear-gradient(180deg, #DADCD7a0, #F2EFE2a0),
    url("./Te Puia Resources/Images/mudpool.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    margin: 0%;
}

.class-column{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    width: 80%;
    margin: auto;
    padding-top: 40px;
    font-family:'Comfortaa';
}

.collem_two{
    background-color: #dad7cb;
    height: 90%;
    text-align: center;
    font-family:'Comfortaa';
}

/* History Page */
#history-top{
    /* Center Text */
    display: grid;
    place-content: center;
    font-size: 4em;
    /* Add background image */
    background-image: 
    linear-gradient(180deg, #DADCD7a0, #F2EFE2a0),
    url("./Te Puia Resources/Images/mudpool.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin: 0%;
}

#history-text{
    display: grid;
    grid-template-columns: 3fr 5fr;
    gap: 20px;
    width: auto;
    margin: auto;
    background-image:  
    linear-gradient(180deg, #F2EFE2,
    #F2EFE2c0),
    url("./Te Puia Resources/Images/giser.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    font-family:'Comfortaa';
}

/* Classes page */
#class-top{
    /* Center Text */
    display: grid;
    place-content: center;
    font-size: 2em;
    /* Add background image */
    background-image: 
    linear-gradient(180deg, rgba(255, 255, 255, 0.664),
    #d8dfced0),
    url("./Te Puia Resources/Images/mudpool.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    margin: 0%;
}

#class-text-weaving{
    display: grid;
    grid-template-columns: 3fr 5fr;
    gap: 20px;
    width: auto;
    margin: auto;
    background-image:  
    linear-gradient(180deg, #F2EFE2,
    #F2EFE2c0),
    url("./Te Puia Resources/Images/barstets.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    font-family:'Comfortaa';
}

#class-text-wood{
    display: grid;
    grid-template-columns: 3fr 5fr;
    gap: 20px;
    width: auto;
    margin: auto;
    background-image:  
    linear-gradient(180deg, #F2EFE2,
    #F2EFE2c0),
    url("./Te Puia Resources/Images/w-class.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0%;
    font-family:'Comfortaa';
}
